@charset "UTF-8";
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cbrun\/Projets\/Openwide\/projets\/Dockerfiles-1\/docs\/source\/slides\/sass\/docker_presentation\.scss}line{font-family:\0000338}}
body {
  background-color: white;
  background: None;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cbrun\/Projets\/Openwide\/projets\/Dockerfiles-1\/docs\/source\/slides\/sass\/docker_presentation\.scss}line{font-family:\0000342}}
li {
  list-style-image: url('../img/puces.png?1422434347');
  margin-bottom: 0.7em;
  margin-left: 0px;
  font-size: 0.9em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cbrun\/Projets\/Openwide\/projets\/Dockerfiles-1\/docs\/source\/slides\/sass\/docker_presentation\.scss}line{font-family:\0000348}}
h1 {
  text-align: right;
  color: white;
  font-size: 1.5em;
  height: 90px;
  width: 100%;
  background: url('../img/bandeau.png?1422434347');
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cbrun\/Projets\/Openwide\/projets\/Dockerfiles-1\/docs\/source\/slides\/sass\/docker_presentation\.scss}line{font-family:\0000358}}
div#homepage h1 {
  background: None;
  color: #14b6e5;
  text-align: right;
  font-size: 52px;
  margin-top: 10%;
  margin-bottom: 12%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cbrun\/Projets\/Openwide\/projets\/Dockerfiles-1\/docs\/source\/slides\/sass\/docker_presentation\.scss}line{font-family:\0000364}}
div#homepage h2 {
  color: #14b6e5;
  text-align: right;
  font-size: 32px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cbrun\/Projets\/Openwide\/projets\/Dockerfiles-1\/docs\/source\/slides\/sass\/docker_presentation\.scss}line{font-family:\0000367}}
div#homepage h3 {
  color: #14b6e5;
  text-align: right;
  font-size: 24px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cbrun\/Projets\/Openwide\/projets\/Dockerfiles-1\/docs\/source\/slides\/sass\/docker_presentation\.scss}line{font-family:\0000370}}
div#homepage img {
  width: 100%;
  height: auto;
  margin-top: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cbrun\/Projets\/Openwide\/projets\/Dockerfiles-1\/docs\/source\/slides\/sass\/docker_presentation\.scss}line{font-family:\0000376}}
div#footer div#logo-footer img {
  width: 32%;
  height: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cbrun\/Projets\/Openwide\/projets\/Dockerfiles-1\/docs\/source\/slides\/sass\/docker_presentation\.scss}line{font-family:\0000380}}
div#vm_vs_container img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cbrun\/Projets\/Openwide\/projets\/Dockerfiles-1\/docs\/source\/slides\/sass\/docker_presentation\.scss}line{font-family:\0000383}}
div.warning {
  background: none repeat scroll 0 0 #ffedcc;
  padding: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cbrun\/Projets\/Openwide\/projets\/Dockerfiles-1\/docs\/source\/slides\/sass\/docker_presentation\.scss}line{font-family:\0000386}}
div.warning p {
  margin: 3px;
  ligne-height: 24px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/cbrun\/Projets\/Openwide\/projets\/Dockerfiles-1\/docs\/source\/slides\/sass\/docker_presentation\.scss}line{font-family:\0000391}}
div.warning:before {
  content: " Attention";
  color: white;
  background: none repeat scroll 0 0 #f0b37e;
  width: 100%;
  display: block;
  margin: -3px;
  padding-left: 5px;
}
